/* styling the clock container*/
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.clock{
    width: 400px;
    height: 400px;
    border: 10px solid #ddd;
    border-radius: 50%;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*clock number*/

.number{
    position: absolute;
    font-size: 1.8em;
    font-weight: bold;
    color: #555;
    transform: translate(-50%, -50%);
}

.number1{
    top: 15%; right: 23%; color: #f58220;
}
.number2{
    top: 32%; right: 10%; color: #9b58b6;
}
.number3{
    top: 50%; right: 3%; color: #1e90ff;
}
.number4{
    bottom: 32%; right: 10%; color: #32cd32;
}

.number5{
    bottom: 15%; right: 23%; color: #ffcc00;
}

.number6{
    bottom: 5%; left: 50%; color: #ff4500;
}

.number7{
    bottom: 15%; left: 23%; color: #40e0d0; 

}

.number8{
    bottom: 32%; left: 10%; color: #7cfc00;
}

.number9{
    top: 50%; left: 3%; color: #6a5acd;
}

.number10{
    top: 32%; left: 10%; color: #3cb371;
}

.number11{
    top: 15%; left: 23%; color:  #ff6347;
}

.number12{
    top: 5%; left: 50%; color: #e74c3c;
}

/*clock hand*/

.hour-hand,.minute-hand,.second-hand{
    --rotate:0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate)*1deg));
    transform-origin: bottom;
}

.hour-hand{
    width: 8px;
    height: 100px;
    
    background: red;
}

.minute-hand{
    width: 4px;
    height: 150px;
    
    background: blue;
}

.second-hand{
    width: 2px;
    height: 180px;
    left: 50%;
    background: #7cfc00;
    
}

.center{
   position: absolute;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: black;
    
}